:root {
  --primary: #f0c674;
  --primary-plus: #d9a957;
  --tow: #fff8ed;
  --tree: #ffd8b0;
  --gray: #e6e6e6;
  --dark: #1f1f1f;
}

body {
  width: 100% !important;
}
.plan {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 100px);
  width: 95%;
  background-color: #fee1a7;
  gap: 2px;
}
.my-bg-op {
  background-color: #e0e0e077;
}
.conference {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.reception {
  grid-column: 1 / 4;
  grid-row: 3 / 6;
}

.serveurs {
  grid-column: 5 / 7;
  grid-row: 1 / 3;
}

.securite {
  grid-column: 7 / 9;
  grid-row: 1 / 3;
}

.personnel {
  grid-column: 5 / 7;
  grid-row: 4 / 6;
}

.darchives {
  grid-column: 7 / 9;
  grid-row: 4 / 6;
}

#cont_admis {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 250px;
}
#cont_admis img {
  width: 20%;
  height: 20%;
}
.my-font {
  font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
  border-right: 1px solid var(--primary-plus);
  min-height: 100vh;
  background-color: var(--tow);
}

.list-group {

  max-height: 77vh;
  overflow-y: auto;

}

#list_employee_non_assignes img {
  border: 3px solid green;
}

.btn-pr {

  background: var(--primary);
  color: var(--btn-text);
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;

}
#profile_zone_sss{
       z-index: 9999;
}

#mobileMenuBtn{
    top:1px; left:10px; z-index:1000;
}
#profile_zone {
  z-index: 99999;
}

.bg-light2 {

  border: 0.1px solid #e0e0e0;
  background-color: #f6f8f9;

}

.btn-pr:active {
  background: var(--primary);
  transform: scale(0.93);
}

.btn-tow {
  background-color: white;
  border: 1px solid var(--primary);
  color: #171717;
  transition: 0.4s ease;
}

.btn-tow:hover {
  background-color: var(--tow);
  transform: scale(0.96);
}

.btn-tow:active {
  background-color: var(--tree);
  transform: scale(0.94);
}

.formulaire {
  box-shadow: 0px 5px 10px var(--tree);
}

#profile_zone_sss {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 420px;
}

#profile_zone_sss img {
  border: 3px solid rgb(28, 202, 28);
}

.card_profile h3 {
  font-size: 22px;
  margin-top: 10px;
}
.card {
  width: 18rem;
  border-radius: 15px;
}
.experience-block {
  padding: 10px;
  background: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 12px;
}

.formulaire {
  max-height: 97vh;
  margin-left: 12px;

}

.body_form {
  overflow-y: auto;
  overflow-x: hidden;
}

.formulaire input,
.formulaire select {
  height: 45px;
  border-radius: 10px;
  margin: 4px;
}

hr {
  opacity: 0.1;
}

#formulaire .form-control,
#formulaire .form-select {
  height: 34px !important;
  font-size: 14px;
  padding: 4px 10px !important;
  border-radius: 6px;
}

#formulaire .body_form {
  max-height: 83vh;
  overflow-y: auto;
  padding-right: 5px;
}

#formulaire button {
  font-size: 14px;
  padding: 6px 12px;
}

#formulaire h6 {
  font-size: 15px;
  margin-bottom: 8px;
}


.room {
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
}
.plan img {
  width: 100%;
  height: 100%;
  display: block;
}

small {
  font-size: smaller;
}

.bg_one {
  background-color: #e7bb65;
}
.bg_tow {
  background-color: #e7658c;
}

 @media (max-width: 991px) {
  .container_main{
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
  }
  .formulaire{
    min-width: 60% !important;
    
  margin-left: 12px;
  max-height: 78%;
  }
  .form_f{
      max-height: 70% !important;
  }
  #formulaire .body_form {
  max-height: 67vh;
  overflow-y: auto;
  padding-right: 5px;
}

}