:root {
    --primary: #e7bb65;        
    --primary-plus: #c89f55;  
    --tow: #ffdf9a42;
    --tree: #ffd5a4;
    --gray: #dcdcdc;
    --dark: #222222;
    
}

.my-font{
     font-family:Arial, Helvetica, sans-serif;
     
}
.background-blue {
    background-color: var(--background-color-blue);
}

#sidebar{
    border-right: 1px solid var(--primary-plus);
    width: 280px; 
    min-height: 100vh;
    background-color: var(--tow);
}


/* button {
    background:var(--primary);
    color: #fff;
}
button:hover {
    background:var(--primary-plus);
}    */
.btn-pr{
  background: var(--primary);
  color: var(--btn-text);
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease ;
}


.bg-light2{
    border:0.1px solid #e0e0e0;
    background-color: #f6f8f9;
    
}
.btn-pr:active{
  background: var(--primary);
  transform: scale(0.93);
}
.btn-tow{
    background-color: white ;
    border: 2px solid var(--primary);
    color: #171717;
}